@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("components/sidebar.css");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/intro-card.css");
@import url("components/card.css");

html {
  scroll-behavior: smooth;
}

body {
	font-size: 18px;
	font-family: Raleway;
	margin: 0px;
	background-color: #F0EDE9;
}

a {
	text-decoration: none;
}